<?xml version="1.0"?>

<launch>

    <!-- Associate to the robot description parameter, the URDF file that models the robot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ur5e_manipulator)/urdf/ur5e_yt.xacro" />

    <!-- Set the position in the empty world -->
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.05" />

    <!-- Launch Gazebo world in paused state -->
    <!--include file="$(find gazebo_ros)/launch/empty_world.launch">-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur5e_manipulator)/worlds/ur5e_fast.world"/>

        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>


        <arg name="paused" value="false"/>
    </include>   

    <!-- Spawn the robot using the package gazebo_ros -->
    <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model" output="screen" 
          args="-urdf -param robot_description -model ur5e -x $(arg x) -y $(arg y) -z $(arg z)" />
    
    <!-- Load the controllers -->
    <rosparam command="load" file="$(find ur5e_manipulator)/config/ur5e_id_controllers.yaml" />
    
    <!-- Load PID Gains -->
    <rosparam file="$(find ur5e_manipulator)/config/ur5e_pid_gains.yaml" command="load"/>

    <!-- Load the controller manager -->
    <node name="controller_manager" pkg="controller_manager" type="controller_manager" 
          output="screen" respawn="false" />

    <!-- Load the node controller manager -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="ur5e_id_controller joint_state_controller"
          ns="/ur5e"
          output="screen" />
          
    <!-- Convert joint states to TF transform for Rviz and rqt -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  
          output="screen" respawn="false">
        <remap from="/joint_states" to="/ur5e/joint_states"/>
    </node>

    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="/joint_states" to="/ur5e/joint_states"/>
    </node>


</launch>
